header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    
}

header img{
    height: 80px;
    margin-left: 40px;
}

body {
    background-color: #573230;
    height: 125vh;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: black;
    text-align: center;
    
}

h1 {
    color: black;
}

.boxed {
    border: 1px solid black;
    width: 500px;
    background-color:  #bfbfbf;
}
.links {
background-color: gray;
box-shadow: 0 5px 0 black;
color: white;
padding: 1em 1.5em;
position: relative;
text-decoration: none;
display: block;
width: 200px;
}

.links:hover{
    background-color: pink;
    cursor: pointer;
}

.links:active {
    box-shadow: none;
    top: 5px;
}



.crop-img{
    max-height:150px;
    max-width:100%;
    margin-bottom: 10px;
  }
  
  .large-img{
    max-width:100%;
    margin-top: 10px;
  }

  #name {
      color: black;
      font-size: 20px;
  }

